@model SchoolManagementSystem.Models.tbl_User



@{

    ViewBag.Title = "Change Password";

    Layout = "~/Views/Shared/_TeacherLayoutPage.cshtml";

}



<h4>Change Password</h4>



@{

    if (TempData["message"] != null)

    {

        <script type="text/javascript">

        alert(@Html.Raw(Json.Encode(TempData["message"])));

        </script>

    }

}



@using (Html.BeginForm())

{

    @Html.AntiForgeryToken()



    <div class="form-horizontal" style="color:black;">

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.UserID)



        <div class="form-group">

            <label type="password" form="OldPassword" class="control-label col-md-2">Old Password</label>

            <div class="col-md-10">

                @Html.Password("OldPassword", "", new { @class = "form-control" } )

            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )

                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">

            <label type="password" form="ConfirmPassword" class="control-label col-md-2" >Confirm Password</label>
            
            <div class="col-md-10">

                @Html.Password("ConfirmPassword", "" , new { @class = "form-control"} )

            </div>

        </div>



        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Save" class="btn btn-info" />

                <input type="button" id="btnCancel" value="Cancel" class="btn btn-info" onclick="location.href='@Url.Action("DashBoard","Teacher")'" />

            </div>

        </div>

    </div>

}