<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-lux.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        header {
            position: relative;
            margin: 0;
            padding-top: 0px;
        }

        body {
            padding: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            margin: 0px;
        }

        .navbar-header {
            padding: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0px;
        }

        .jumbotron {
            padding: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 150px;
            margin: 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-header navbar-fixed-top shadow">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Home", "DashBoard", "Cashier", new { @class = "btn btn-light" }) &nbsp;
                @Html.ActionLink("Student List", "Students", "Cashier", new { @class = "btn btn-light" }) &nbsp;
                @Html.ActionLink("Fees Records", "Records", "Cashier", new { @class = "btn btn-light" }) &nbsp;
                @Html.ActionLink("Change Password", "ChangePassword", "Cashier", new { @class = "btn btn-light" }) &nbsp;
            </div>
            <div class="navbar navbar-header navbar-right">
                <span style="color:black;">@Session["Email"]</span>
                @*@Html.ActionLink("Welcome " + Session["Email"], "DashBoard", "Cashier")*@
                &nbsp; &nbsp;
                <input type="button" id="btnLogout" value="Logout" class="btn btn-danger" onclick="location.href='@Url.Action("Logout","Home")'" />
                @*@Html.ActionLink("Logout", "Logout", "Home", new { @class = "btn btn-light" })*@
            </div>
        </div>
    </nav>

    <div class="jumbotron shadow" style="background-color:#DCECF2; padding:25px; padding-bottom:400px;" width="90%">
        @RenderBody()
    </div>

    <div>
        <footer class="container-fluid text-center">
            <p>&copy; @DateTime.Now.Year - Capgemini</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
