@model SchoolManagementSystem.Models.tbl_User

@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

@using (Html.BeginForm())
{
    <fieldset>
        <h4> Admin DashBoard </h4>
        <br />
        @if (Session["Email"] != null)
        {
            <h4>
                Welcome @Session["Email"].ToString()
            </h4>
        }
    </fieldset>
    <br />
    <table class="table table-responsive" style="color:black;">
        <tr>
            <td>@Html.ActionLink("Manage Users", "Users", "Admin", new { @class="btn btn-info" })</td>
            <td>@Html.ActionLink("Manage Students", "Students", "Admin", new { @class = "btn btn-info" })</td>
            <td>@Html.ActionLink("Manage Teachers", "Teachers", "Admin", new { @class = "btn btn-info" })</td>
            <td>@Html.ActionLink("Manage Grades", "Grades", "Admin", new { @class = "btn btn-info" } )</td>
        </tr>
    </table>
}

