@model SchoolManagementSystem.Models.tbl_Student

@{
    ViewBag.Title = "Student Detail's";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h4>Student Detail's</h4>

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

<div style="color:black;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Grade.GradeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Grade.GradeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    <input type="button" id="btnEdit" value="Edit" class="btn btn-info" onclick="location.href='@Url.Action("EditStudent","Admin", new { id= Model.StudentID })'" />
    <input type="button" id="btnCancel" value="Back to Students" class="btn btn-info" onclick="location.href='@Url.Action("Students","Admin")'" />
</p>
