@model IEnumerable<SchoolManagementSystem.Models.tbl_Student>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_CashierLayoutPage.cshtml";
}

<h4>Student's</h4>
<br />
@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}

@using (Html.BeginForm())
{
        <div>
            <table cellpadding="5">
                <tr>
                    <td align="center">
                        <select name="gradeID" class="form-control">
                            <option value="0">Search by Grade</option>
                            <option value="1">1st Grade</option>
                            <option value="2">2nd Grade</option>
                            <option value="3">3rd Grade</option>
                            <option value="4">4th Grade</option>
                            <option value="5">5th Grade</option>
                            <option value="6">6th Grade</option>
                            <option value="7">7th Grade</option>
                            <option value="8">8th Grade</option>
                            <option value="9">9th Grade</option>
                            <option value="10">10th Grade</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" placeholder="Search by name" name="name" class="form-control" />
                    </td>
                    <td>
                        &nbsp;
                        <input type="submit" value="Search" class="btn btn-info" />
                    </td>
                    <td>
                        &nbsp;
                        <input type="button" id="btnDisplayAllStudents" value="Clear" class="btn btn-info" onclick="location.href='@Url.Action("Students","Cashier")'" />
                    </td>
                </tr>
            </table>
        </div>
    <h5></h5>

}
<br />

@{
    if (Model.Count() != 0)
    {
        <table class="table table-borderless table-hover w-100" style="color:black;">
            <tr class="table-info">
                <th>
                @Html.DisplayNameFor(model => model.StudentName)
               </th>
                <th>
                    @Html.DisplayNameFor(model => model.tbl_Grade.GradeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-secondary">
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl_Grade.GradeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        <input type="button" value="Update Fees" id="btnVerify" class="btn btn-success" onclick="location.href='@Url.Action("Verify", "Cashier", new { studID = item.StudentID, gradeID = item.GradeID })'" />
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <table>
            <tr>
                <td>
                    <h6 style="color:red;">No students with this name.</h6>
                </td>
            </tr>
        </table>
    }
}

